# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
/CLAUDE.md
/.env
.env
/wandb/
/outputs/
/multirun/
/logs/
/lot/
evals/__pycache__/__init__.cpython-312.pyc
evals/__pycache__/base.cpython-312.pyc
evals/__pycache__/egoschema.cpython-312.pyc
evals/__pycache__/lvbench.cpython-312.pyc
evals/__pycache__/mvbench.cpython-312.pyc
evals/__pycache__/video_mme.cpython-312.pyc
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/base.cpython-312.pyc
models/__pycache__/media.cpython-312.pyc
models/__pycache__/qwen.cpython-312.pyc
models/__pycache__/qwen2_5_vl.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/mcq.cpython-312.pyc
utils/__pycache__/obs.cpython-312.pyc
utils/__pycache__/samples.cpython-312.pyc
models/__pycache__/qwen_attn.cpython-312.pyc
